<p class="pitch">The simple task manager which lets you keep an organized to-do list and send tasks to others. Perfect for team collaboration, sending homework assignments, and saving your email inbox from clutter. Sign up is fast and free.</p>

<div class="login/signup">
	<h2><a href="/#/login", class="link_active">Login</a> or <a href="/#/signup">Sign up</a></h2>
	<input type="text", placeholder="Email", ng-model="user.email">
	<input type="password", placeholder="Password", ng-model="user.password">
	<ul class="errors">
		<li ng-repeat="error in errors">{{error}}</li>
	</ul>
	<input type="submit", value="LOGIN", ng-click="login()">
</div>