<div class="nav-top">
	<a href="/#/logout">Logout</a>
</div>

<article class="tasks_container">
	<h2 class="tasks_heading">Tasks</h2>

	<!-- task list -->
	<ul class="tasks">
		<li ng-repeat="t in tasks">
			[{{tasks[0].created_at | date: 'MMM d'}}] - {{t.description}<br> 	
			{{t.id}}
			<button ng-click="removeTask(t.id)">Done</button>
		</li>
		<li>{{task.description}}</li>
	</ul>

	<!-- new task -->
	<textarea class="new_task_input", placeholder="Brief description of task", ng-model="task.description">
	</textarea>
	<input type="submit", class="submit-btn", value="Add new task", ng-click="addTask()">
</article>

