<!DOCTYPE html>
<html ng-app="agendum">
<head>
  <title>Agendum</title>
  <script src="http://code.angularjs.org/1.0.0rc10/angular-cookies-1.0.0rc10.js"></script>p
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class="top">
		<h1 class="logo">Agendum</h1>
	</header>

<%= yield %>

</body>
</html>
